{% macro render_table(columns, rows, aligns) %}
<div class="table-container">
	<table>
		<thead>
			<tr>
				{% for col in columns %}
				<th style="text-align: {{ aligns.get(col, 'center') }} !important;">
					{{ col }}
				</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
			<tr>
				{% for col in columns %}
				<td style="text-align: {{ aligns.get(col, 'center') }} !important;">
					{{ row[col] }}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endmacro %}